{{ block "singleStoryBlock" . }}

<div id="story-{{.ID}}" class="flex flex-row gap-4 p-3 text-sm border border-gray-800 rounded-2xl
                                {{if contains .UpvotedBy "user-123"}}
                                    bg-custom-lime
                                {{else}}
                                    bg-background-gray
                                {{end}}">
    {{ template "storyUpvoteMarker" . }}

    <div id="data" class="flex flex-col">
        <div class="title hover:underline font-bold cursor-pointer"
             hx-get="/story/{{.ID}}" hx-push-url="true" hx-target="#inside" hx-trigger="click">
            {{.Title}}
        </div>
        <div id="metadata" class="flex space-x-4 py-1 divide-x divide-gray-500">
            <div class="user">
                via {{.UserID}} {{.TimeAgo}}
            </div>
            <div id="numberOfComments" class="pl-4 hover:underline cursor-pointer"
                 hx-get="/story/{{.ID}}" hx-push-url="true" hx-target="#inside" hx-trigger="click">
                {{.ReplyCount}} comments
            </div>
        </div>
    </div>

</div>
{{end}}


{{ block "singleComment" . }}
    <div id="comment-{{.ID}}" class="flex flex-col gap-2 pl-4 py-2 border-l border-gray-700">
    <!-- TODO: replace this with the tempalte --
      -- Comment Content -->
    {{ template "commentUpvoteMarker" . }}

    <div id="comment-{{.ID}}-user-{{.ID}}" class="text-text-muted">
        {{.UserID}} | {{.TimeAgo}}
    </div>
    <div id="content-{{.ID}}" class="">
        {{.Body}}
    </div>

    <!-- Replies Section -->
    {{ if .Replies }}
    <div id="replies-{{.ID}}" class="pl-4">
        {{ range .Replies }}
        {{ template "singleComment" . }}
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}

<!-- NOTE: actually does the parsing by itself to see if upvoted or not --
  -- "contains" had to be registerred as a function in templates.go-->
{{ block "storyUpvoteMarker" . }}
<div id="upvote-{{.ID}}" class="flex flex-col items-center text-gray-850">
        <!-- <\!-- Debug info -\-> -->
        <!-- <div class="text-xs text-gray-500"> -->
        <!--     UpvotedBy: {{.UpvotedBy}} -->
        <!--     Contains user-123: {{contains .UpvotedBy "user-123"}} -->
        <!-- </div> -->
        <button class="transition-colors duration-200"
                onclick="if(!this.querySelector('path').getAttribute('fill').includes('gray-850')) confetti()"
                hx-post="/upvote/story/{{.ID}}/user/user-123"
                hx-trigger="click"
                hx-target="#story-{{.ID}}"
                hx-swap="outerHTML">
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 3l8 8h-5v10h-6v-10h-5z"
                    fill="{{if contains .UpvotedBy "user-123"}}
                            text-gray-850
                          {{else}}
                            none
                          {{end}}"
                    stroke="currentColor"
                    stroke-width="1"
                    stroke-linejoin="round"/>
            </svg>
        </button>
        <div >
                {{.UpvoteCount}}
        </div>
</div>
{{ end }}

{{ block "commentUpvoteMarker" . }}
<div id="comment-upvote-{{.ID}}" class="flex flex-col items-center">
        <!-- <\!-- Debug info -\-> -->
        <!-- <div class="text-xs text-gray-500"> -->
        <!--     UpvotedBy: {{.UpvotedBy}} -->
        <!--     Contains user-123: {{contains .UpvotedBy "user-123"}} -->
        <!-- </div> -->
        <button class="transition-colors duration-200
                     {{if contains .UpvotedBy "user-123"}}
                          text-lime-500
                     {{else}}
                         text-gray-400
                     {{end}}"
                hx-post="/upvote/comment/{{.ID}}/user/user-123/"
                hx-trigger="click"
                hx-target="#comment-upvote-{{.ID}}"
                hx-swap="outerHTML">
                    <sl-icon name="caret-up-fill" class="h-7 w-7"></sl-icon>
        </button>
        <!-- Vote count -->
        <div class="text-lg
            {{if contains .UpvotedBy "user-123"}}
                text-lime-600
            {{end}}">
                {{.UpvoteCount}}
        </div>
</div>
{{ end }}

<!-- NOTE: heres how to use ifs -->
<!--
     {{if contains .UpvotedBy "user-123"}}
     text-gray-850
     {{else}}
     text-gray-400
     {{end}} -->
