{{define "story"}}
<div id="story" class="flex flex-row gap-6 py-3 text-text-muted text-sm">

    <!-- Upvote section -->
    <div id="upvoteMarker" class="flex flex-col items-center">
        <div
            class="cursor-pointer w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-b-[10px] border-gray-400 hover:border-b-gray-600"
            hx-post="/vote/{{.ID}}"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="next"
        >
        </div>
        <!-- Vote count -->
        <div class="py-2">
            {{.VoteCount}}
        </div>
    </div>

    <!-- data content -->
    <div id="data" class="flex flex-col">

        <div class="title text-text-primary hover:underline font-bold text-lg">
            {{.Title}}
        </div>
        <div id="metadata" class="flex space-x-4 py-1 divide-x divide-gray-500">
            <div class="user">
                via {{.User}}
            </div>
            <div id="timestamp" class="pl-4">
                {{.TimeAgo}}
            </div>
            <div id="numberOfComments" class="pl-4 hover:underline"
                 hx-get="/story/" hx-push-url="true" hx-target="#storyPage">
                {{.CommentCount}} comments
            </div>
        </div>
    </div>
</div>
{{end}}
