{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Architoct</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            base: '#ff4500',
                            hover: '#ff5722',
                            light: '#ff6b45',
                            dark: '#cc3700',
                        },
                        background: {
                            dark: '#000000',
                            card: '#1a1a1b',
                            hover: '#272729',
                        },
                        text: {
                            primary: '#f87171',
                            secondary: '#818384',
                            muted: '#6E7578',
                            link: '#4FBCFF',
                        }
                    },
                    fontFamily: {
                        'baskerville': ['Baskerville', 'serif'],
                        'merriweather': ['Merriweather', 'serif']
                    }
                }
            }
        }
    </script>
</head>

<body id="home" class="flex justify-center w-full bg-background-dark">

    <!--THESE DOTS ARE OBJECTS -- think inputs------------------------------------>
    <!--so this passes into block count the exact same object that it got--------->
    <!--like saying just pass in stories from the input into template--------->
    <div id="homeContent" class="flex flex-col py-4">
            {{range .Stories}}
                <div id="story-{{.ID}}" class="flex flex-row gap-6 py-3 text-text-muted text-sm">
                    {{template "homeStoryBlock" .}}
                </div>
            {{end}}
    </div>

</body>

</html>
{{ end }}

{{ block "storyPageBlock" . }}
<div class="title text-text-primary hover:underline font-bold text-lg">
    {{template "homeStoryBlock" .}}
    COMMENTS
    COMMENTS
    COMMENTS
    COMMENTS
    COMMENTS
    COMMENTS
</div>
{{ end }}

{{ block "homeStoryBlock" . }}
<!-- Upvote section -->
<div id="upvoteMarker" class="flex flex-col items-center">
    <div class="cursor-pointer w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-b-[10px] border-gray-400 hover:border-b-gray-600"
        hx-post="/vote/{{.ID}}" hx-trigger="click" hx-swap="innerHTML" hx-target="next">
    </div>
    <!-- Vote count -->
    <div class="py-2">
        {{.VoteCount}}
    </div>
</div>

<!-- data content -->
<div id="data" class="flex flex-col">

    <div class="title text-text-primary hover:underline font-bold text-lg">
        {{.Title}}
    </div>
    <div id="metadata" class="flex space-x-4 py-1 divide-x divide-gray-500">
        <div class="user">
            via {{.User}}
        </div>
        <div id="timestamp" class="pl-4">
            {{.TimeAgo}}
        </div>
        <div id="numberOfComments" class="pl-4 hover:underline" hx-get="/story" hx-push-url="true"
            hx-target="#inside">
            {{.CommentCount}} comments
        </div>
    </div>
</div>
{{end}}
