{{ define "homeContent" }}
  <div id="Navbar" class="flex justify-end w-full text-sm text-gray-400">
   <div id="top" class="text-right">
       <div class="text-gray-800 ">
           Get top stories this:
       </div>
       <div class="flex gap-2 justify-end">
           <button class="rounded-xl bg-purple-300 p-2 text-gray-800">Day</button>
           <button class="p-2">Week</button>
           <button class="p-2">Month</button>
       </div>
   </div>
</div>

  <form id="newPost" class="p-3 border-2 border-dashed border-gray-800 rounded-2xl shadow-xl focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600">
    <div id="titleUsername" class="flex gap-2 mb-2">
        <input
            type="text"
            placeholder="Title"
            class="flex-1 border-none focus:ring-0 sm:text-sm"
        />
    </div>
    <div id="body" class="relative">
        <textarea
            placeholder="What's on your mind?"
            class="w-full resize-none border-none focus:ring-0 sm:text-sm pr-20"
            rows="4"
        ></textarea>
        <button
            type="submit"
            class="absolute bottom-2 right-2 bg-purple-200 rounded-2xl px-4 py-1 hover:bg-violet-300 transition-colors"
        >Post!</button>
    </div>
</form>

    {{range .}}
        {{template "singleStoryBlock" .}}
    {{end}}
{{ end }}
