{{ define "homeContent" }}


<form id="newPost"
    class="p-3 border-2 border-dashed border-gray-400 rounded-2xl shadow-xl focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
    hx-post="/story" hx-include="[name='title'], [name='body']" hx-target="#newPost" hx-swap="afterend"
    hx-on::after-request="if(event.detail.successful) {
            this.reset();
            this.querySelector('.pell-content').innerHTML = '';
            this.querySelector('[name=body]').value = '';
        }">
    <div id="title" class="flex gap-2 mb-2">
        <input name="title" type="text" placeholder="Title" class="flex-1 border-none focus:ring-0 sm:text-sm" />
    </div>

    {{template "pellEditor" dict "hxPost" "/story" "Placeholder" "What's on your mind?"}}

</form>

{{range .}}
{{template "singleStoryBlock" .}}
{{end}}

{{ end }}
