<!-- this block will be using targeted rendering ... WITHOUT BASE -->
{{ define "storyContent" }}  <!-- Use define instead of block here -->
    {{template "singleStoryBlock" .Story}}
    <div id="body">
        {{ .Story.Body }}
    </div>

    <!-- Comments Section -->
    <div id="comments-section" class="flex flex-col gap-4 mt-6">
        <div class="font-bold text-text-primary">
            Discussions
        </div>

        {{ range .Comments }}
        {{ template "singleComment" . }}
        {{ end }}
    </div>
{{ end }}
